@charset "UTF-8";

/* Using flex layout.
   Order property is always specified so as to increase code clarity. */

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    font: 100% monospace;
}

header {
    order: 1;
    border-bottom: 3px solid purple;
    width: 100%;
    padding: 20px 0;
    background-image: linear-gradient(to bottom right, pink, yellow, pink, purple);
    text-align: right;
    color: purple;
}

section {
    order: 2;
    width: 100%;
    padding: 20px 0;
    color: black;
}

nav {
    order: 3;
    border-top: 3px solid purple;
    border-bottom: 3px solid purple;
    width: 100%;
    padding: 10px;
    background-image: linear-gradient(to bottom right, pink, yellow, pink, purple);
    line-height: 2.0;
}

nav:hover {
    background-image: linear-gradient(to bottom right, purple, pink, yellow, pink);
}

a:hover {
    padding: 2%;
    background-color: purple;
    font-weight: bold;
    color: white;
}

ul {
    list-style-type: square;
}

aside {
    order: 4;
    width: 100%;
    padding: 20px 0;
    color: purple;
}

footer {
    order: 5;
    border-top: 3px solid purple;
    width: 100%;
    padding: 10px 0;
    background-image: linear-gradient(to bottom right, purple, pink, yellow, pink);
    font-size: 80%;
    text-align: center;
    color: purple;
}

/* Desktop layout
   Breakpoint set at 896px to ensure a pleasant design */
@media screen and (min-width: 896px) and (orientation: landscape),
print and (orientation: landscape) {
    nav {
        order: 2;
        margin: 10px 0 0 10px;
        width: 15%;
    }

    aside {
        order: 3;
        width: 20%;
    }

    section {
        order: 4;
        width: 50%;
    }
}
